
   /* =============================================================================
      My CSS
      ========================================================================== */
   
   /* ---- base ---- */
   
   html,body{ 
       width:100%;
       height:100%;
       /* background:#111; */
   }
   
   canvas{
     display:block;
     align-items: center;
   }
   

   /* ---- particles.js container ---- */
   
   #particles-js{
      height: 100%;
      background-color: #120c36;
      background: url("/assets/img/bg-img.jpg") top center !important;
      background-size: cover !important;
  }
   
  #particles-js .container {
    position: absolute;
    min-width: 300px;
    display: block; 
    padding-left: 25%;
   }
  
  #particles-js h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #particles-js p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #particles-js p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #00ff00}
  
  @media (min-width: 1024px) {
    #particles-js {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #particles-js h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #particles-js h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }